<div id="popup" style="display: none;">
	<div class="notification-panel">
		<div class="notification-container" x-palm-popup-content="">
			<div id="StartButton" x-mojo-element="Button"></div>

			<div id="SelectButton" x-mojo-element="Button"></div>
		
			<div id="CancelButton" x-mojo-element="Button"></div>
		</div>
	</div>
</div>

<div id="toggle" style="display: none;color:#ffffff;">
  <div style="margin-top:35%;top:0px;position:fixed;width:100%;min-width:100%;"><center>
    Toggling mode<br><br>
    <div id="modeName">Mode</div>
  </center></div>
</div>

