<div id="mode" class="config">
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="help-toggle" id="help-toggle" x-mojo-tap-highlight="persistent"></div>
			<div class="icon"></div>
			<div class="title">Mode Configuration</div>
		</div>
	</div>

	<div id="ConfigurationView" style="display:none">
		<div style="min-height:3px;"> </div>

		<div class="palm-group">
			<div class="palm-group-title">Mode Name</div>

			<div class="palm-list">
				<div class='palm-row single'>
					<div class='palm-row-wrapper'>
						<div class="help-overlay" id="NameTextHelp"></div>
						<div class='textfield-group' x-mojo-focus-highlight="true">
							<div class="title">
								<div id="NameText" x-mojo-element="TextField"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div style="min-height:3px;"> </div>
		
		<div class="palm-group">
			<div class="palm-group-title">Preferences</div>

			<div class="palm-list">
				<div class='palm-row single'>
					<div class='palm-row-wrapper'>
						<div class="help-overlay" id="ModeTypeHelp"></div>
						<div id="ModeTypeSelector" x-mojo-element="ListSelector"></div>
					</div>
				</div>
			</div>
		</div>
		
		<div style="min-height:3px;"> </div>
		
		<div id="ConfigurationCustom" style="display:none">
			<div class="palm-group">
				<div class="palm-group-title">Automation</div>
			
				<div class="palm-list">
					<div class='palm-row first'>
				 		<div class='palm-row-wrapper'>
							<div class="help-overlay" id="ModeStartHelp"></div>
							<div id="StartSelector" x-mojo-element="ListSelector"></div>
						</div>
					</div>
					<div class='palm-row last'>
				 		<div class='palm-row-wrapper'>
							<div class="help-overlay" id="ModeCloseHelp"></div>
							<div id="CloseSelector" x-mojo-element="ListSelector"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="ConfigurationDefault" style="display:none">
			<div class="palm-group">
				<div class="palm-group-title">Miscellaneous</div>
			
				<div class="palm-list">
					<div class='palm-row first'>
				 		<div class='palm-row-wrapper'>
							<div class="help-overlay" id="ModeStartupHelp"></div>
							<div id="StartupSelector" x-mojo-element="ListSelector"></div>
						</div>
					</div>
					<div class='palm-row last'>
				 		<div class='palm-row-wrapper'>
							<div class="help-overlay" id="ModeAppsHelp"></div>
							<div id="AppsSelector" x-mojo-element="ListSelector"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="ModeSettingsView" style="display:none">
		<div class="category" id="Preferences"><center>Preferences</center></div>

		<div class="palm-group">
			<div class="palm-group-title">Behavior</div>

			<div class="palm-list">
				<div class='palm-row single'>
					<div class='palm-row-wrapper'>
						<div class="help-overlay" id="SettingsNotifyHelp"></div>
						<div id="NotifySelector" x-mojo-element="ListSelector"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="category" id="Settings"><center>System Settings</center></div>
		
		<div style="min-height: 8px;"></div>
		
		<div class="palm-list">
			<div  id="SettingsList" x-mojo-element="List"></div>
		</div>
	</div>

	<div id="ModeAppsView" style="display:none">
		<div class="category"><center>Preferences</center></div>
	
		<div class="palm-group">
			<div class="palm-group-title">Behavior</div>
		
			<div class="palm-list">
				<div class='palm-row first'>
					<div class='palm-row-wrapper'>
						<div class="help-overlay" id="AppsStartHelp"></div>
						<div  id="AppsStartSelector" x-mojo-element="ListSelector"></div>
					</div>
				</div>
				<div class='palm-row last'>
					<div class='palm-row-wrapper'>
						<div class="help-overlay" id="AppsCloseHelp"></div>
						<div  id="AppsCloseSelector" x-mojo-element="ListSelector"></div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="category"><center>Actions</center></div>

		<div style="min-height: 8px;"></div>

		<div class="palm-list">
			<div  id="AppsList" x-mojo-element="List"></div>
		</div>
	</div>

	<div id="ModeTriggersView" style="display:none">
		<div class="category"><center>Preferences</center></div>
			
		<div class="palm-group">
			<div class="palm-group-title">Behavior</div>
			
			<div class="palm-list">
				<div class='palm-row single'>
			 		<div class='palm-row-wrapper'>
						<div class="help-overlay" id="TriggersRequiredHelp"></div>
				 		<div id="RequiredSelector" x-mojo-element="ListSelector"></div>
			 		</div>
				</div>
			</div>
		</div>
	
		<div class="category"><center>Activation Triggers</center></div>

		<div style="min-height: 8px;"></div>

		<div class="palm-list">
	 		<div id="TriggersList" x-mojo-element="List"></div>
		</div>
	</div>
</div>

<div class="palm-scrim" id="overlay-scrim" style="display: none;">
    <div id="waitSpinner" x-mojo-element="Spinner" />
</div>

